<!-- _includes/projects.html -->
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
        </div>
        <!-- <p class="card-text">{{ project.date | date: "%b %-d, %Y"  }}</p> -->
      </div>
    </a>
</div>